header {
    padding: 20px;
}
.page__content {
    min-height: unset;
}

/* You can use the basic styles from statista.com here. */

.searchApp__container {
    max-width: 600px;
    margin: 20px auto;
}
.searchApp__submitButton {
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
}
.searchApp__results {
    max-width: 600px;
    margin: 20px auto;
}
.searchResult {
    width: 100%;
    /* background: red; */
    border-radius: 3px;
    overflow: hidden;
  }
  
.searchResult__cover {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.overlay {
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    width: 100%;
    height: 40px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
}

.searchResult__cover > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.searchResult__description {
  display: inline-block;
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.searchResult__actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


/* 1. declare transition */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 1s ease;
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
  position: absolute;
}


.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 3px 0px, rgba(67, 94, 131, 0.15) 0px 5px 26px 0px;
}

.pill {
    background-color: #0b85e5;
    color: #fff;
    white-space: nowrap;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    line-height: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.pill-basic {
    background-color: #ccc;
    color: #000;
}